{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="{% static 'template/bootstrap/css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'template/css/vapor.css' %}" />
    <link rel="shortcut icon" href="{% static 'template/favicon.ico' %}" />
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'template:index' %}"><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span> <span>Vapor</span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{% url 'template:index' %}">Images</a></li>
                <li><a href="{% url 'template:vm_list' %}">VMs</a></li>
                <li><a href="#network">Networks</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div id="f" class="container">
    <h3><span>Task lauching a VM has been fired.</span></h3>
</div>
<!-- container -->

</body>
</html>
